@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #1C1A20;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
